.wp-block-ideas-factory-header {
    background: url(../assets/IMG_8631.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;

    .box {
        display: flex;
        flex-direction: column;
        height: 560px;
        width: 860px;
    }

    .slider {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .slider:after {
        content: "";
        display: block;
        width: 100%;
        height: 100vw;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: -50vw;
        left: -15%;
        transform: rotate(40deg)
    }

    .text-content {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        /* or 140% */
        letter-spacing: 0.2px;

        color: #ffffff;

        margin-top: 100px;
        margin-left: 70px;

        position: relative;
        z-index: 1;
    }

    .text-content-2 {
        color: #cb4231;
    }

    .text-content-3 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* or 138% */
        letter-spacing: 0.2px;

        color: #ffffff;

        margin-left: 70px;

        position: relative;
        z-index: 1;
        margin-right: 380px;
    }
}