/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ideas-factory-gutenpride input[type='text'] {
	color: inherit;
	background: inherit;
	border: 0;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
}

.wp-block-ideas-factory-gutenpride a input[type='text'] {
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	//color: #CB4231;
}