/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@font-face {
	font-family: Mulish;
	src: url(../assets/Mulish-VariableFont_wght.ttf);
	font-weight: 700;
}

.wp-block-ideas-factory-gutenpride {
	//background: #f37a56; // set via attribute default value
	height: 157px;
	max-width: 740px;

	.box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.text-content {
		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 23px;
		line-height: 18px;

		/* identical to box height, or 78% */
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.3px;
		text-transform: uppercase;

		//color: #ffffff; // set via attribute default value

		margin-right: 20px;
	}

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px 18px;

		//min-width: 96px;
		/* custom */
		height: 42px;

		background: #FFFFFF;
		border: none;
		border-radius: 6px;

		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;

		/* identical to box height, or 129% */
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;

		//color: #CB4231;
	}
}