/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@font-face {
	font-family: Mulish;
	src: url(../assets/Mulish-VariableFont_wght.ttf);
	font-weight: 700;
}

@import "header/style.scss";
@import "join-us-banner/style.scss";